.body {
    font-style: italic;
}

.header {
    background-color: #208bbd;
    color: rgb(238, 233, 233);
    padding: 3px;
    position: sticky;
    top: 10px;
}


.nav {
    background-color: rgb(250, 227, 24);
}

.main {
    padding: 20px;

}

.form {
    display: flex;
    width: 600px;
}

.h1{
    background-color: #7097c2;
    border: solid 1px ;
}

.button {
    margin-top: 10px;
    padding: 10px;
    background-color: #7097c2;
    color: rgb(0, 0, 0);
    border: none;
}
